body {
    background-color: #000;
    text-align: center;
    margin: auto;
    font-family:"Arial";
}
#page {
    background-color: #222;
    width: 1000px;
    margin: auto;
}
/*********************************************
                    HEADER
*********************************************/
 #header {
    background-color: #333;
    color: #FFFFFF;
}
#navbar {
    list-style-type: none;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navbar li {
    float: left;
    display: block;
    width: 30%;
    padding: 0 1.6% 0 1.6%;
}
#header img {
    max-width: 100%;
}
/*********************************************
                    SECTION
*********************************************/
 #section {
    height: 200vh;
}
#twelveSigns {
    list-style-type: none;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0px;
}
#twelveSigns li {
    max-width: 20%;
    display: inline-block;
    background-color: #000;
    margin: 1.2%;
    position: relative;
    right: 25px;
}
#twelveSigns li img {
    max-width: 100%;
    width: 400px;
    height: 250px;
}
.sign-name {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: table;
    font: Arial;
    font-size: 40px;
    text-align: center;
    line-height: 250px;
    height: 250px;
    left: 0;
    top: 0;
    position: absolute;
    width: 190px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
#twelveSigns li:hover .sign-name {
    opacity: 1;
}
/*********************************************
                    FOOTER
*********************************************/
 #footer {
    background-color: #333;
    color: #FFFFFF;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
.content {
    width: 86%;
    font:"Sans serif";
    text-align: left;
    color: #64e5dd;
    Font-size: 25px;
    position: relative;
    left: 7%;
}
a {
    color: #f74559;
}
::selection {
    background: #f74559;
    /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #f74559;
    /* Gecko Browsers */
}
/*********************************************
                    FOOTER
*********************************************/
table {
    position: relative;
    left: 10%;
    text-align: left;
    border-collapse: separate;
        border-spacing: 10px 20px;
    border: 4px solid #64e5dd;
}