header {
	margin: auto;
}

.col-lg-12 img {
	width: 100%;
}

.col-sm-4 img {
	width: 100%;
}
.col-md-3 img {
	width: 90%;
	padding: 5%;
}
.col-sm-6 img {
	width: 90%;
	padding: 5%;
}
span {
	float:bottom;
}
footer {
	padding: 1% 0 1% 0;
}
