header {
	margin: auto;
}

.col-lg-12 img {
	width: 100%;
}

.col-sm-4 img {
	width: 50%;
}
.col-sm-4 {
	padding: 1% 0 1% 0;
}
.col-md-3 img {
	width: 90%;
	padding: 5%;
}
.col-sm-6 img {
	width: 90%;
	padding: 5%;
}
span {
	float:bottom;
}
section {
	min-height: 500px;
}
footer {
	padding: 1% 0 1% 0;
}
p {
	padding: 2%;
}
.carousel-container {
	width: 20%;
	margin: auto;
	margin-bottom: 1%;
}
.carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
   }
